body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(cover.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
/* Home */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
}

.nav-bar .title {
    color: #ffff;
    font-size: 50px;
    font-weight: 600;
}

span {
    color: rgb(8, 179, 79);
}

.menu li {
    list-style: none;
    display: inline-block;
}

.menu li a {
    text-decoration: none;
    color: #ffff;
    font-size: 27px;
    margin-left: 80px;
    font-weight: 650;
}

.content {
    color:white;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
}

.content{
    -webkit-animation: fadeInTop 1.2s both;
    -moz-animation: fadeInTop 1.2s both;
    -o-animation: fadeInTop 1.2s both;
    animation: fadeInTop 1.2s both;
    margin-top: 330px;
}
@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.center {
    width:100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center img {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

.center button {
    height: 40px;
    color: #fff;
    background: rgb(8, 179, 79);
    font-size: 22px;
    padding: 5px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    transition: .4s ease;
    cursor: pointer;
    position: relative;
}

.center button a {
    text-decoration: none;
    color: #fff;
}

.center button:hover {
    background: none;
    border: 1px solid rgb(8, 179, 79);
}

/* Contact Us */

